body{
    background-color: #feffef;
    display: grid;
    grid-template-areas:
    "A B C"
    "A B C"
    "A B C";
    font-family: "Damascus", sans-serif;
}
.cart{
    grid-area: C;
    height: 1540px;
    width: 300px;
    box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0 18px 36px -18px inset;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
}
.cart-item{
    margin-top: 10px;
    width: 270px;
    height: 200px;
    box-shadow: rgba(136, 109, 0, 0.3) 0 0 0 3px;
}
.cart-data{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 150px;
    margin: 0 0 0 10px;
}
.cart-data p{
    margin: 0;
}
.remove-button{
    margin: 0 0 0 10px;
}

.main-container{
    grid-area: B;
    display: grid;
    margin: 0;
    padding: 0;
    column-gap: 0;
    width: 800px;
    grid-template-areas:
    "B C"
    "B C"
    "B C";
}

.book-container{
    grid-area: B;
    width: 500px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, auto);
    /*grid-template-rows: 200px;*/
    row-gap: 10px;
    column-gap: 10px;
    justify-content: center;
    align-content: space-between;
}

.book-item{
    width: 230px;
    height: 300px;
}

.books-img{
    height: 300px;
    width: 230px;
    transition: .5s ease;
}

.book-name{
    margin: -160px 0 0 0;
    text-align: center;
    color: black;
    opacity: 0;
    transition: .5s ease;
}

.add-button, .more-button{
    opacity: 0;
    z-index: 1000;
    position: relative;
}



.book-item:hover img{
    opacity: 0.2;
}
.book-item:hover h4{
    opacity: 1;
}
.book-item:hover p{
    opacity: 1;
}
.book-item:hover button{
    opacity: 1;
}

.popup{
    display: none;
}
.show-popup{
    display: block;
    position: absolute;
    width: 600px;
    height: 200px;
    background-color: #8d552f;
    z-index: 3000;
}

.overlay{

}
.overlay-show{

}

