body{
    background-color: #feffef;
    display: grid;
    grid-template-areas:
    "A B C"
    "A B C"
    "A B C";
    font-family: "Damascus", sans-serif;
}

.cart{
    grid-area: C;
    height: 1700px;
    width: 300px;
    box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0 18px 36px -18px inset;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
}
.cart-item{
    margin-top: 10px;
    width: 270px;
    height: 200px;
    box-shadow: rgba(136, 109, 0, 0.3) 0 0 0 3px;
}
.cart-data{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 150px;
    margin: 0 0 0 10px;
}
.cart-data p{
    margin: 0;
}
.remove-button{
    margin: 0 0 0 10px;
}

.main-container{
    grid-area: B;
    display: grid;
    margin: 0;
    padding: 0;
    column-gap: 40px;
    width: 800px;
    height: 1700px;
    grid-template-areas:
    "B C"
    "B C"
    "B C";
}

.book-container{
    grid-area: B;
    width: 500px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, auto);
    row-gap: 10px;
    column-gap: 10px;
    justify-content: center;
    align-content: space-between;
}

.book-item{
    width: 230px;
    height: 300px;
    text-align: center;
}
.book-item button{
    margin: 10px 0 0 20px;
}

.books-img{
    height: 300px;
    width: 230px;
    transition: .5s ease;
}

.book-name{
    margin: -180px 0 0 0;
    text-align: center;
    color: black;
    opacity: 0;
    transition: .5s ease;
}

.add-button, .more-button{
    opacity: 0;
    z-index: 1000;
    position: relative;
}



.book-item:hover img{
    opacity: 0.2;
}
.book-item:hover h4{
    opacity: 1;
}
.book-item:hover p{
    opacity: 1;
}
.book-item:hover button{
    opacity: 1;
}

.popup{
    display: none;
}
.show-popup{
    display: block;
    position: absolute;
    width: 600px;
    height: auto;
    background-color: #0b9d94;
    z-index: 3000;
    box-shadow: rgba(55, 59, 68, 0.8) 0 0 0 3px;
}
.descr{
    color: aliceblue;
    margin: 10px;
}
.x-button{
    padding: 5px;
    /*color: 0;*/
    background: rgba(0, 0, 0, 0);
    border: 0;

}

.overlay{

}
.overlay-show{

}




/*button {*/
/*    padding: 0.6em 2em;*/
/*    border: none;*/
/*    outline: none;*/
/*    color: rgb(255, 255, 255);*/
/*    background: #111;*/
/*    cursor: pointer;*/
/*    position: relative;*/
/*    z-index: 0;*/
/*    border-radius: 10px;*/
/*    user-select: none;*/
/*    -webkit-user-select: none;*/
/*    touch-action: manipulation;*/
/*}*/
/*button:before {*/
/*    content: "";*/
/*    background: linear-gradient(*/
/*            45deg,*/
/*            #ff0000,*/
/*            #ff7300,*/
/*            #fffb00,*/
/*            #48ff00,*/
/*            #00ffd5,*/
/*            #002bff,*/
/*            #7a00ff,*/
/*            #ff00c8,*/
/*            #ff0000*/
/*    );*/
/*    position: absolute;*/
/*    top: -2px;*/
/*    left: -2px;*/
/*    background-size: 400%;*/
/*    z-index: -1;*/
/*    filter: blur(5px);*/
/*    -webkit-filter: blur(5px);*/
/*    width: calc(100% + 4px);*/
/*    height: calc(100% + 4px);*/
/*    animation: glowing-button-85 20s linear infinite;*/
/*    transition: opacity 0.3s ease-in-out;*/
/*    border-radius: 10px;*/
/*}*/

/*@keyframes glowing-button-85 {*/
/*    0% {*/
/*        background-position: 0 0;*/
/*    }*/
/*    50% {*/
/*        background-position: 400% 0;*/
/*    }*/
/*    100% {*/
/*        background-position: 0 0;*/
/*    }*/
/*}*/

/*button:after {*/
/*    z-index: -1;*/
/*    content: "";*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background: #222;*/
/*    left: 0;*/
/*    top: 0;*/
/*    border-radius: 10px;*/
/*}*/



button{
    --b: 3px;   /* border thickness */
    --s: .45em; /* size of the corner */
    --color: #373B44;
    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
            conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
            var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button:hover,
button:focus-visible{
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
}

button:active {
    background: var(--color);
    color: #fff;
}

.book-item{
    --b: 3px;   /* border thickness */
    --s: .45em; /* size of the corner */
    --color: #373B44;
    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
            conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
            var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.book-item:hover,
.book-item:focus-visible{
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
}

.book-item:active {
    background: var(--color);
    color: #fff;
}